@font-face {
    font-family: 'blackwood-castle';
    src: url(font/blackwood-castle.TTF) format('truetype');
}

body {
font-family: 'blackwood-castle', sans-serif;
background-image: url(img/background.png);
background-size: contain;
overflow-x: hidden;
}


.instructions-container{
    height: 37vw;
    background-image: url(img/instructions.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    background-image: url(img/title.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23vw;
    height: 20vw;
}

.pet-container{
    width: 90%;
    height: 25vw;
    background-image: url(img/pet-frame/evolution-txt.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 61%;
    margin: 0 auto;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 13vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blanchedalmond;
    margin-left: 5vw;
    margin-bottom: 2vw;
    /* background-color: blue; */
}

.filters-title {
    background-image: url(img/title-container.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
}

.option-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /* background-color: blue; */
}

.option{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 20%;
        /* background-color: blue; */
}

.filter-txt {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.filter-img {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.plant-filter {
    background-image: url(img/elements/plant.png);
}

.ghost-filter {
    background-image: url(img/elements/ghost.png);
}

.demon-filter {
    background-image: url(img/elements/demon.png);
}

.dirt-filter {
    background-image: url(img/elements/dirt.png);
}

.description{
    width: 12.5%;
    height: 100%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.id-container {
    background-color: red;
    height: 35%;
    width: 100%;
    background-image: url(img/title-container.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.type-container {
    height: 10%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.data {
    font-style: italic;
}

.element-container{
    background-image: url(img/elements/element-container.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: red;
}

.element {
    height: 85%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pet-plant .element {
    background-image: url(img/elements/plant.png);
}

.pet-ghost .element {
    background-image: url(img/elements/ghost.png);
}

.pet-demon .element {
    background-image: url(img/elements/demon.png);
}

.pet-dirt .element {
    background-image: url(img/elements/dirt.png);
}

.frame {
    /* background-color: pink; */
    width: 25%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* @keyframes flip {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(180deg);
        color: white;
    }
} */


/* PET IDS */

.pet-plant .pet-img {
    background-image: url(img/pets/pet-1.png);
    height: 55%;
    width: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1vw;
    /* border: 2px solid white; */
    transition: all 1s ease-in-out; /* Smooth transition for transform */
    transform-origin: bottom center; /* Set pivot point to the bottom center */
}

.pet-ghost .pet-img {
    background-image: url(img/pets/pet-2.png);
    height: 55%;
    width: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1vw;
    /* border: 2px solid white; */
    transition: all 1s ease-in-out; /* Smooth transition for transform */
    transform-origin: bottom center; /* Set pivot point to the bottom center */
}

.pet-dirt .pet-img {
    background-image: url(img/pets/pet-3.png);
    height: 55%;
    width: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1vw;
    /* border: 2px solid white; */
    transition: all 1s ease-in-out; /* Smooth transition for transform */
    transform-origin: bottom center; /* Set pivot point to the bottom center */
}

.pet-demon .pet-img {
    background-image: url(img/pets/pet-4.png);
    height: 55%;
    width: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1vw;
    /* border: 2px solid white; */
    transition: all 1s ease-in-out; /* Smooth transition for transform */
    transform-origin: bottom center; /* Set pivot point to the bottom center */
}

.pet-plant .pet-img:hover,
.pet-ghost .pet-img:hover,
.pet-dirt .pet-img:hover,
.pet-demon .pet-img:hover {
    animation: scale-vertically 1s infinite; /* Adjust the duration as needed */
}

@keyframes scale-vertically {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.05); /* Scale vertically by 20% */
    }
    100% {
        transform: scaleY(1);
    }
}

/* END PET IDS */

.base {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-plant .base{
    background-image: url(img/pet-frame/black-plant-1.png);
}

.pet-plant .evolution1{
    background-image: url(img/pet-frame/white-plant-2.png);
    transition: all 1s ease-in-out;
}

.pet-plant .evolution1:hover {
    background-image: url(img/pet-frame/black-plant-2.png);
}

.pet-plant .evolution2{
    background-image: url(img/pet-frame/white-plant-3.png);
    transition: all 1s ease-in-out;
}

.pet-plant .evolution2:hover{
    background-image: url(img/pet-frame/black-plant-3.png);
}

.pet-demon .base{
    background-image: url(img/pet-frame/black-demon-1.png);
}

.pet-demon .evolution1{
    background-image: url(img/pet-frame/white-demon-2.png);
    transition: all 1s ease-in-out;
}

.pet-demon .evolution1:hover {
    background-image: url(img/pet-frame/black-demon-2.png);
}

.pet-demon .evolution2{
    background-image: url(img/pet-frame/white-demon-3.png);
    transition: all 1s ease-in-out;
}

.pet-demon .evolution2:hover{
    background-image: url(img/pet-frame/black-demon-3.png);
}

.pet-ghost .base{
    background-image: url(img/pet-frame/black-ghost-1.png);
}

.pet-ghost .evolution1{
    background-image: url(img/pet-frame/white-ghost-2.png);
    transition: all 1s ease-in-out;
}

.pet-ghost .evolution1:hover {
    background-image: url(img/pet-frame/black-ghost-2.png);
}

.pet-ghost .evolution2{
    background-image: url(img/pet-frame/white-ghost-3.png);
    transition: all 1s ease-in-out;
}

.pet-ghost .evolution2:hover{
    background-image: url(img/pet-frame/black-ghost-3.png);
}

.pet-dirt .base{
    background-image: url(img/pet-frame/black-dirt-1.png);
}

.pet-dirt .evolution1{
    background-image: url(img/pet-frame/white-dirt-2.png);
    transition: all 1s ease-in-out;
}

.pet-dirt .evolution1:hover {
    background-image: url(img/pet-frame/black-dirt-2.png);
}

.pet-dirt .evolution2{
    background-image: url(img/pet-frame/white-dirt-3.png);
    transition: all 1s ease-in-out;
}

.pet-dirt .evolution2:hover{
    background-image: url(img/pet-frame/black-dirt-3.png);
}

.adoption {
    width: 12.5%;
    height: 100%;
    background-color: goldenrod;
}
.adoption input, .adoption button {
    display: block;
    margin-bottom: 10px;
}

body{
    background-color: black;
    padding: 3vw;
}

.hidden {
    display: none;
}

.active {
    animation: spin 15s linear infinite;
}