body {
    font-family: 'blackwood-castle', sans-serif;
    background-image: url(img/background.png);
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.owners-container {
    width: 80vw;
    height: 90vh;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 8vh;
    background-image: url(img/bg-commands.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }

span {
    font-size: 2vw;
    margin: 0 auto;
    color: rgb(111, 122, 111);
    letter-spacing: 0.5vw;
    animation: float 2s ease-in-out infinite;
    text-align: center;
}