@font-face {
    font-family: 'blackwood-castle';
    src: url('blackwood-castle.TTF') format('truetype');
}

body {
font-family: 'blackwood-castle', sans-serif;
}


.instructions-container{
    height: 37vw;
    background-image: url(img/instructions.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    background-image: url(title.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23vw;
    height: 20vw;
}

.pet-container{
    width: 80%;
    height: 20vw;
    background: grey;
    margin: 0 auto;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 16vw;
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blanchedalmond;
    margin-left: 1vw;
    /* background-color: blue; */
}

.filters-title {
    background-image: url(img/title-container.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
}

.option-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /* background-color: blue; */
}

.option{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 20%;
        /* background-color: blue; */
}

.filter-txt {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.filter-img {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.plant-filter {
    background-image: url(img/elements/plant.png);
}

.ghost-filter {
    background-image: url(img/elements/ghost.png);
}

.demon-filter {
    background-image: url(img/elements/demon.png);
}

.dirt-filter {
    background-image: url(img/elements/dirt.png);
}

.description{
    width: 16%;
    height: 100%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.id-container {
    background-color: red;
    height: 35%;
    width: 100%;
    background-image: url(img/title-container.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.type-container {
    height: 10%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.data {
    font-style: italic;
}

.element-container{
    background-image: url(img/elements/element-container.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.element {
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pet-plant .element {
    background-image: url(plant.png);
}

.pet-ghost .element {
    background-image: url(ghost.png);
}

.pet-demon .element {
    background-image: url(demon.png);
}

.pet-dirt .element {
    background-image: url(dirt.png);
}

.frame {
    background-color: pink;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pet-plant .base{
    background-image: url(img/pet-frame/black-plant-1.png);
}

.pet-plant .evolution1{
    background-image: url(img/pet-frame/white-plant-2.png);
}

.pet-plant .evolution2{
    background-image: url(img/pet-frame/white-plant-3.png);
}

.pet-demon .base{
    background-image: url(img/pet-frame/black-demon-1.png);
}

.pet-demon .evolution1{
    background-image: url(img/pet-frame/white-demon-2.png);
}

.pet-demon .evolution2{
    background-image: url(img/pet-frame/white-demon-3.png);
}

.pet-ghost .base{
    background-image: url(img/pet-frame/black-ghost-1.png);
}

.pet-ghost .evolution1{
    background-image: url(img/pet-frame/white-ghost-2.png);
}

.pet-ghost .evolution2{
    background-image: url(img/pet-frame/white-ghost-3.png);
}

.pet-dirt .base{
    background-image: url(img/pet-frame/black-dirt-1.png);
}

.pet-dirt .evolution1{
    background-image: url(img/pet-frame/white-dirt-2.png);
}

.pet-dirt .evolution2{
    background-image: url(img/pet-frame/white-dirt-3.png);
}

.adoption {
    width: 20%;
    height: 100%;
    background-color: goldenrod;
}

body{
    background-color: black;
    padding: 3vw;
}

.hidden {
    display: none;
}

.active {
    animation: spin 15s linear infinite;
}